<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>controller.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>ActionFiler</filter-name>
        <filter-class>controller.ActionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ActionFiler</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
<!--    <filter>-->
<!--        <filter-name>SecurityFilter</filter-name>-->
<!--        <filter-class>controller.SecurityFilter</filter-class>-->
<!--    </filter>-->

<!--    <filter-mapping>-->
<!--        <filter-name>SecurityFilter</filter-name>-->
<!--        <url-pattern>*.html</url-pattern>-->
<!--    </filter-mapping>-->
</web-app>